* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header {
    width: 80%;
    background-color: rgb(215, 215, 215);
    margin:0 auto;
    text-align: center;
    /* border: 1px solid rgb(207, 12, 12); */
    box-shadow: 0 0 8px  rgb(27, 26, 26);
}

h1 {
    padding-top: 10px;
    font-size: 3.5vw;
}

h2 {
    font-size: 2.5vw;
    padding-bottom: 15px;
}

#content {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

#personal-info {
    width: 100%;
    margin-top: 25px;
    display: flex;
    /* border: 1px solid blue; */
}

#image {
    /* border: 1px solid green; */
    width: 45%;
}

#headshot {
    max-width: 100%;
    box-shadow: 0 0 8px  rgb(27, 26, 26);
    border-radius: 360px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    width: 60%;
}

#skills {
    /* border: 1px solid pink; */
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#skills-heading {
    font-size: 2.4vw;
}

#skill-lists {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 1.75vw;
    font-weight:500;
    /* border: 1px solid yellow; */
}

#icons {
    display: flex;
    justify-content: center;
    width: 60%;
    /* border: 1px solid chartreuse; */
}

.social {
    width: 11%;
}

#repos {
    height: 500px;
    border: 1px solid chocolate
}

footer {
    width:80%;
    height: 50px;
    background-color: rgb(215, 215, 215);
    margin: 0 auto;
    box-shadow: 0 0 8px  rgb(27, 26, 26);
    display: flex;
    justify-content: space-around;
}

#contact {

}

#email {

}