* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 100px;
    width: 80%;
    background-color: rgb(215, 215, 215);
    margin:0 auto;
    text-align: center;
    border-bottom: 1px solid rgb(138, 127, 127);
}

h1 {
    padding-top: 18px;
}

#content {
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

#image {
    max-width:40%;
    border: 1px solid blue;
}

img {
    max-width: 100%;
    box-shadow: 10px black;
    border-radius: 180px;
}

#icons {

}

#skills {

}

#repos {

}

#contact {

}

#email {

}